@charset "utf-8";

/* layout */
#header {height:115px;border-bottom:1px solid #cbcbcb;}
#header .headTop {position:relative;max-width:1120px;margin:0 auto;}
#header h1 {position:absolute;top:58px;left:0;color:#000;font:48px/1 Arial;font-weight:bold;letter-spacing:-1px;}
#header .btnMobNav {display:none;}

#gnb .headUtil {height:34px;background:#2e2e2e;border-bottom:1px solid #cbcbcb;}
#gnb .headUtil nav {position:relative;max-width:1120px;margin:0 auto;text-align:right;}
#gnb .headUtil .phone {color:#fff;}
#gnb .headUtil .phone:before {content:"";display:inline-block;width:28px;height:26px;margin:0 6px 0 0;background:url('../images/icon_pack.png') no-repeat;vertical-align:middle;}
#gnb .headUtil nav > span {display:inline-block;margin:0 0 0 75px;}
#gnb .headUtil nav > span a {position:relative;display:inline-block;line-height:35px;margin-left:25px;color:#b7b7b7;}
#gnb .headUtil nav > span a:before {content:"";position:absolute;top:10px;left:-15px;height:13px;border-left:1px solid #717171;border-right:1px solid #9a9a9a;}
#gnb .headUtil nav > span a:first-child {margin:0;}
#gnb .headUtil nav > span a:first-child:before {display:none;}
#gnb .headUtil .tip {display:none;}
#gnb .gnbMenu {max-width:1120px;margin:0 auto;}
#gnb .gnbMenu > ul {float:right;border-right:1px solid #cbcbcb;}
#gnb .gnbMenu > ul > li {float:left;width:160px;}
#gnb .gnbMenu > ul > li > a {display:block;line-height:80px;border-left:1px solid #cbcbcb;font-size:20px;color:#090909;font-weight:bold;text-align:center;}
#gnb .gnbMenu > ul > li > a:after {display:none;content:"";position:absolute;bottom:0;right:-1px;left:-1px;height:5px;background:#4290b2;}
#gnb .gnbMenu > ul > li.current > a {position:relative;}
#gnb .gnbMenu > ul > li.current > a:after {display:block;}
#gnb .gnbMenu .depth2 {display:none;position:absolute;width:134px;padding:10px 0 10px 25px;background:#fff;border:1px solid #4290b2;}
#gnb .gnbMenu .type2 {width:294px;}
#gnb .gnbMenu .depth2 a {color:#333;font-size:16px;line-height:30px;}
#gnb .btnClose {display:none;}

.location {height:37px;background:#f2f2f2;}
.location p {max-width:1120px;margin:0 auto;line-height:37px;}
.location p * {margin:0 5px;}

#container {}

.content {max-width:1120px;margin:0 auto;}

#footer {margin:110px 0 0;background:#22262b;}
#footer section {position:relative;max-width:1120px;margin:0 auto;padding:45px 0 40px;}
#footer h1 {color:#414347;font:28px/1 Arial;font-weight:bold;letter-spacing:-1px;}
#footer .privacy {position:absolute;top:48px;left:540px;}
#footer .privacy a {position:relative;color:#919191;}
#footer .privacy a + a {margin:0 0 0 35px;}
#footer .privacy a + a:before {content:"";position:absolute;top:2px;left:-18px;width:1px;height:12px;background:#919191;}
#footer .hospInfo {width:760px;margin:10px 0 0;}
#footer .hospInfo * {display:inline-block;margin:0 10px 0 0;color:#6e6d6d;font-size:14px;}
#footer .sns {position:absolute;top:75px;right:0;}
#footer .sns a {display:inline-block;width:42px;height:42px;margin:0 0 0 10px;background:url('../images/icon_pack.png') no-repeat;font:0/0 a!important;}
#footer .sns .facebook {background-position:-30px 0;}
#footer .sns .naver {background-position:-72px 0;}
#footer .sns .insta {background-position:-114px 0;}
#footer .sns .kakao {background-position:-156px 0;}

@media all and (min-width:1024px) {
	#gnb {display:block!important;}
}
@media all and (max-width:1023px) {
	html, body {height:100%;}
	body.menuOn:after {content:"";position:fixed;top:0;right:0;bottom:0;left:0;background:#000;opacity:.6;}
	#header {height:6rem;border-bottom:.1rem solid #e6e6e6;}
	#header .headTop {}
	#header h1 {top:1.5rem;left:2rem;font:3rem/1 Arial;font-weight:bold;}
	#header .btnMobNav {display:block;position:absolute;top:1.8rem;right:2rem;width:2.7rem;height:2.7rem;}
	#header .btnMobNav:before, #header .btnMobNav:after,
	#header .btnMobNav span {content:"";position:absolute;left:0;width:100%;height:.6rem;background:#000;}
	#header .btnMobNav span {font:0/0 a!important;top:0;}
	#header .btnMobNav:before {top:1rem;}
	#header .btnMobNav:after {top:2rem;}

	#gnb {display:none;position:absolute;top:0;right:0;width:50%;padding:0 0 7.5rem;background:#fff;z-index:10;}
	#gnb .headUtil {height:auto;padding:1.3rem 0 0;background:#2f2f2f;border-bottom:none;}
	#gnb .headUtil nav {position:static;text-align:center;}
	#gnb .headUtil nav > span {margin:0;}
	#gnb .headUtil nav > span a {line-height:2.8rem;margin-left:0;padding:0 1.5rem;border:0.1rem solid #868686;color:#d8d8d8;border-radius:1.5rem;}
	#gnb .headUtil nav > span a:before {display:none;}
	#gnb .headUtil .info, #gnb .headUtil .map,
	#gnb .headUtil .phone {position:absolute;bottom:0;left:0;width:33.4%;height:7.5rem;line-height:7.5rem;padding:0;border:0;border-radius:0;color:#1e1e1e;text-align:center;font-size:1.8rem;}
	#gnb .headUtil .phone span,
	#gnb .headUtil .phone:before {display:none;}
	#gnb .headUtil .phone {font-weight:bold;}
	#gnb .headUtil .info {left:33.4%;width:33.3%;border-left:.1rem solid #cfcfcf;}
	#gnb .headUtil .map {left:auto;right:0;width:33.3%;border-left:.1rem solid #cfcfcf;}
	#gnb .headUtil .tip {display:block;padding:1.2rem 0 2rem;color:#717171;font-size:1.2rem;line-height:1.5;}
	#gnb .gnbMenu > ul {float:none;border-right:0;}
	#gnb .gnbMenu > ul > li {float:none;width:auto;border-bottom:.1rem solid #cfcfcf;}
	#gnb .gnbMenu > ul > li > a {position:relative;padding:0 0 0 3rem;line-height:5rem;background:#3d90ae;border-left:0;font-size:2rem;font-weight:normal;color:#fff;text-align:left;}
	#gnb .gnbMenu > ul > li > a:before,
	#gnb .gnbMenu > ul > li > a:after {content:"";display:block;position:absolute;top:1.2rem;left:auto;right:2rem;width:1.6rem;height:1.6rem;background:#fff;transform:rotate(45deg);}
	#gnb .gnbMenu > ul > li > a:after {margin:-.3rem 0 0 0;background:#3d90ae;}
	#gnb .gnbMenu > ul > li > a.non2depth:before {background:none;}
	#gnb .gnbMenu .depth2 {display:none;position:static;width:auto;padding:1.5rem 0;border:0;}
	#gnb .gnbMenu .type2 {width:auto;}
	#gnb .gnbMenu .depth2 a {position:relative;display:block;padding:0 0 0 4rem;color:#2d2d2d;font-size:1.6rem;line-height:3rem;}
	#gnb .gnbMenu .depth2 a:before {content:"";position:absolute;width:.4rem;height:.1rem;top:1.4rem;left:3rem;background:#2d2d2d;}
	#gnb .btnClose {display:block;position:absolute;top:.7rem;right:1rem;width:4rem;height:4rem;}
	#gnb .btnClose:before,
	#gnb .btnClose span {position:absolute;content:"";background:#fff;font:0/0 a!important;transform:rotate(45deg);}
	#gnb .btnClose:before {top:1.9rem;left:0;width:4rem;height:.3rem;}
	#gnb .btnClose span {left:1.9rem;top:0;width:.3rem;height:4rem;}

	.location {display:none;}
	#container {min-height:calc(100% - 27.9rem);}
	.content {padding:0 2rem;}

	#footer {margin:11rem 0 0;}
	#footer section {padding:2.2rem 1.2rem 1.8rem;}
	#footer h1 {font:1.6rem/1 Arial;}
	#footer .privacy {display:none;}
	#footer .hospInfo {width:auto;margin:1rem 0 0;}
	#footer .hospInfo * {display:inline-block;margin:0 .5rem 0 0;font-size:1.1rem;}
	#footer .sns {display:none;}
}
@media all and (max-width:560px) {
	#gnb {width:80%;}

	.content {padding:0 1rem;}

	#footer {margin:5rem 0 0;}
}

.tabContWrap .tabContent {display:none;}
.tabContWrap .active {display:block;}

/* title */
[class*="pageTitle"] {padding:55px 0 50px;color:#2a2a2a;font-size:38px;font-weight:normal;line-height:1;}
[class*="pageTitle"] span {color:#656565;}
.pageTitle2 {padding:80px 0 45px;text-align:center;}

/* table */
.tableWrite {border-top:2px solid #575761;}
.tableWrite th,
.tableWrite td {border-bottom:1px solid #e0e0e0;}
.tableWrite th {padding:14px 0 14px 35px;background:#f5f5f5;font-size:16px;text-align:left;}
.tableWrite td {padding:10px 15px;}
.tableWrite td input.txt {width:200px;}
.tableWrite .email, .tableWrite .phone {margin:0 10px 0 0;}
.tableWrite .phone select {width:100px;}
.tableWrite .phone input.txt {width:88px;}
.tableWrite .email select {width:130px;}
.tableWrite .email input.txt {width:125px;}

/* btn */
.btnWrap {margin:40px 0 0;text-align:center;}
.btnWrap span {display:inline-block;margin:0 5px;}
[class*="btnType"] {display:inline-block;border:1px solid transparent;text-align:center;}
[class*="btnType"]:before {content:"";background:url('../images/icon_pack.png') no-repeat;}
.btnType1 {line-height:48px;background:#343434;border-color:#bcbcbc;color:#bcbcbc;}
.btnType2 {line-height:38px;background:#eaeaea;border-color:#dbdbdb;color:#4c4c4c;font-size:12px;}
.btnType3 {line-height:18px;background:#bcbcbc;border-color:#9c9c9c;border-radius:2px;color:#fff;font-size:11px;}
.btnType4 {line-height:48px;padding:0 55px;background:#fff;border-color:#969daf;border-radius:1px;color:#8e8e8e;font-size:22px;}
.btnType5 {line-height:48px;padding:0 55px;background:#2b85ac;border-color:#2b85ac;border-radius:1px;color:#fff;font-size:22px;}

.btnTypeFacebook, .btnTypeNaver {position:relative;height:50px;line-height:48px;background:#3b5998;border-color:#3b5998;color:#fff;}
.btnTypeNaver {background:#1ec700;border-color:#1ec700;}
.btnTypeFacebook:before {position:absolute;top:12px;left:15px;width:15px;height:25px;background-position:-198px 0;}
.btnTypeNaver:before {position:absolute;top:15px;left:13px;width:22px;height:19px;background-position:-213px 0;}

@media all and (max-width:1023px) {
	/* title */
	[class*="pageTitle"] {padding:5.5rem 0 5rem;font-size:3rem;}
	.pageTitle2 {padding:8rem 0 4.5rem;}

	/* table */
	table colgroup {display:none;}
	.tableWrite {border-width:.2rem;}
	.tableWrite th {float:left;clear:left;width:15rem;padding:1.4rem 2.5rem;background:none;font-size:1.6rem;border:0;box-sizing:border-box;}
	.tableWrite td {display:block;width:100%;padding:1rem 1.5rem 1rem 15rem;border-width:.1rem;box-sizing:border-box;}
	.tableWrite td input.txt {width:100%;}
	.tableWrite .email, .tableWrite .phone {display:table;width:100%;margin:0;}
	.tableWrite .email span,
	.tableWrite .phone span {display:table-cell;width:32%;}
	.tableWrite .email .sym, .tableWrite .phone .sym {width:2rem;text-align:center;}
	.tableWrite .phone select, .tableWrite .phone input.txt, .tableWrite .email select,
	.tableWrite .email input.txt {width:100%;}

	/* btn */
	.btnWrap {margin:4rem 0 0;}
	[class*="btnType"] {border-width:.1rem;box-sizing:border-box;}
	.btnType1 {line-height:4.8rem;}
	.btnType2 {line-height:3.8rem;font-size:1.2rem;}
	.btnType3 {line-height:1.8rem;border-radius:.2rem;font-size:1.1rem;}

	.btnTypeFacebook, .btnTypeNaver {height:5rem;line-height:4.8rem;}
	.btnTypeFacebook:before {top:1.2rem;left:1.5rem;width:1.5rem;height:2.5rem;background-position:-19.8rem 0;background-size:50rem;}
	.btnTypeNaver:before {top:1.5rem;left:1.3rem;width:2.2rem;height:1.9rem;background-position:-21.3rem 0;background-size:50rem;}
}
@media all and (max-width:560px) {
	/* title */
	[class*="pageTitle"] {padding:4rem 0 2rem;}
	.pageTitle2 {padding:4rem 0 2rem;}

	/* table */
	.tableWrite {border-width:.2rem;}
	.tableWrite th {float:left;clear:left;width:11rem;padding:1.2rem .5rem;font-size:1.4rem;}
	.tableWrite td {padding:1rem .5rem 1rem 11rem;}
	.tableWrite .email span,
	.tableWrite .phone span {display:table-cell;width:32%;}
	.tableWrite .email .sym, .tableWrite .phone .sym {width:2rem;text-align:center;}
	.tableWrite .phone select, .tableWrite .phone input.txt, .tableWrite .email select,
	.tableWrite .email input.txt {width:100%;}

	/* btn */
	.btnWrap {display:flex;margin:2rem 0 0;}
	.btnWrap > span {width:50%;margin:0;}
	.btnWrap > span + span {margin:0 0 0 .4rem;}
	.btnWrap > span [class*="btnType"] {width:100%;padding:0;font-size:1.4rem;}
}

