@charset "utf-8";

#header {height:115px;border-bottom:1px solid #cbcbcb;}
#header h1 {position:absolute;top:58px;left:50%;margin-left:-560px;color:#000;font:48px/1 Arial;font-weight:bold;letter-spacing:-1px;}
#header .btnMob {display:none;}

#gnb .headUtil {height:34px;background:#2e2e2e;border-bottom:1px solid #cbcbcb;}
#gnb .headUtil nav {position:relative;width:1120px;margin:0 auto;text-align:right;}
#gnb .headUtil .phone {color:#fff;}
#gnb .headUtil .phone:before {content:"";display:inline-block;width:28px;height:26px;margin:0 6px 0 0;background:url('../images/icon_pack.png') no-repeat;vertical-align:middle;}
#gnb .headUtil a {display:inline-block;line-height:35px;}
#gnb .headUtil span {display:inline-block;margin:0 0 0 75px;}
#gnb .headUtil span a {position:relative;color:#b7b7b7;margin-left:25px;}
#gnb .headUtil span a:before {content:"";position:absolute;top:10px;left:-15px;height:13px;border-left:1px solid #717171;border-right:1px solid #9a9a9a;}
#gnb .headUtil span a:first-child {margin:0;}
#gnb .headUtil span a:first-child:before {display:none;}
#gnb .headUtil .tip {display:none;}
#gnb .gnbMenu {width:1120px;margin:0 auto;}
#gnb .gnbMenu > ul {float:right;border-right:1px solid #cbcbcb;}
#gnb .gnbMenu > ul > li {float:left;width:160px;}
#gnb .gnbMenu > ul > li > a {display:block;line-height:80px;border-left:1px solid #cbcbcb;font-size:20px;color:#090909;font-weight:bold;text-align:center;}
#gnb .gnbMenu > ul > li.current > a {position:relative;}
#gnb .gnbMenu > ul > li.current > a:after {content:"";position:absolute;bottom:0;right:-1px;left:-1px;height:5px;background:#4290b2;}
#gnb .gnbMenu .depth2 {display:none;position:absolute;width:134px;padding:10px 0 10px 25px;background:#fff;border:1px solid #4290b2;}
#gnb .gnbMenu .type2 {width:294px;}
#gnb .gnbMenu .depth2 a {color:#333;font-size:16px;line-height:30px;}
#gnb .btnClose {display:none;}

#container .location {height:37px;background:#f2f2f2;}
#container .location p {width:1120px;margin:0 auto;}

#footer {background:#22262b;}
#footer section {position:relative;width:1120px;margin:0 auto;padding:45px 0 40px;}
#footer h1 {color:#414347;font:28px/1 Arial;font-weight:bold;letter-spacing:-1px;}
#footer .privacy {position:absolute;top:48px;left:540px;}
#footer .privacy a {position:relative;color:#919191;}
#footer .privacy a + a {margin:0 0 0 35px;}
#footer .privacy a + a:before {content:"";position:absolute;top:2px;left:-18px;width:1px;height:12px;background:#919191;}
#footer .hospInfo {width:760px;margin:10px 0 0;}
#footer .hospInfo * {display:inline-block;margin:0 10px 0 0;color:#6e6d6d;font-size:14px;}
#footer .sns {position:absolute;top:75px;right:0;}
#footer .sns a {display:inline-block;width:40px;height:40px;margin:0 0 0 10px;background:url('../images/icon_pack.png') no-repeat;font:0/0 a!important;}
#footer .sns .facebook {background-position:-30px 0;}
#footer .sns .naver {background-position:-72px 0;}
#footer .sns .insta {background-position:-114px 0;}
#footer .sns .kakao {background-position:-156px 0;}