@charset "utf-8";

.afterSlide {position:relative;margin:0 -15px;}
.afterSlide li {text-align:center;}
.afterSlide li div {background:#f0f0f0;margin:0 15px;padding:0 0 20px;}
.afterSlide li .tit {display:block;font-size:20px;line-height:46px;background:#53b6b8;color:#fff;font-weight:bold;}
.afterSlide li:nth-of-type(2n) .tit {background:#4a93c8;}
.afterSlide li .picture {position:relative;display:block;margin:15px 0 0;}
.afterSlide li .picture span {display:inline-block;width:43%;overflow:hidden;}
.afterSlide li .picture span + span {margin:0 0 0 30px;}
.afterSlide li .picture span img {max-width:100%;width:100%;}
.afterSlide li .picture:after {content:"";position:absolute;top:50%;left:50%;width:19px;height:33px;margin:-16px 0 0 -10px;background:url('../images/icon_pack.png') no-repeat -235px 0;}
.afterSlide li .info {display:block;margin:10px 0 0;color:#333;font-size:16px;}
.afterSlide li .info span {display:inline-block;margin:0 20px;}
.afterSlide li .info b {display:inline-block;position:relative;margin:0 0 0 20px;}
.afterSlide li .info b:before {content:"";position:absolute;top:3px;left:-12px;height:12px;border-left:1px solid #595959;border-right:1px solid #c9c9c9;}

.afterSlide .bx-pager {position:absolute;top:-30px;right:15px;}
.afterSlide .bx-pager button {width:15px;height:15px;margin:0 0 0 5px;background:#c1c1c1;font:0/0 a!important;}
.afterSlide .bx-pager button.active {background:#42b1b2;}

.loginWrap {width:828px;margin:0 auto;border:8px solid #f0f0f0;text-align:center;}
.loginWrap > section {display:inline-block;width:295px;margin:0 25px;padding:45px 0;vertical-align:top;text-align:left;}
.loginWrap .subTitle {margin:0 0 15px;color:#343434;font-size:18px;line-height:1;text-align:center;font-weight:normal;}
.loginSection input.txt {width:243px;margin:0 0 10px;padding:18px 25px;}
.loginSection .btnType1 {width:100%;font-size:16px;}
.loginSection .chk {margin:8px 0 0;font-size:12px;}
.loginSection .memNav {margin:35px 0 0;padding:12px 0 0;border-top:1px solid #dbdbdb;text-align:center;font-size:12px;}
.loginSection .memNav span {position:relative;display:inline-block;}
.loginSection .memNav span + span {margin:0 0 0 45px;}
.loginSection .memNav span + span:before {content:"";position:absolute;top:4px;left:-24px;width:1px;height:11px;background:#d6d6d6;}
.loginSnsSection [class*="btnType"] {width:293px;margin:0 0 10px;}

.joinField {width:984px;margin:0 auto;border:8px solid #f0f0f0;text-align:center;}
.joinField > div {display:inline-block;width:425px;margin:0 20px;padding:45px 0;vertical-align:top;text-align:left;}
.joinField .infoInput p {width:100%;}
.joinField .infoInput p:after {content:"";display:block;clear:both;}
.joinField .infoInput p + p {margin:10px 0 0;}
.joinField .infoInput .refer {margin:5px 0 35px;padding:0 0 0 15px;color:#8a8a8a;font-size:12px;}
.joinField input.txt {width:383px;padding:12px 20px;}
.joinField .btnType2 {width:108px;margin:0 0 0 5px;}
.joinField .email * {float:left;}
.joinField .email .sym {width:20px;line-height:40px;text-align:center;}
.joinField .email input.txt {width:104px;}
.joinField .idInput input.txt {float:left;width:270px;}

.termsWrap p + p {margin:5px 0 0;}
.termsWrap label {font-weight:bold;}
.termsWrap table {margin:5px 0 0;border-bottom:1px solid #cecece;}
.termsWrap th, .termsWrap td {border-top:1px solid #cecece;color:#ababab;font-size:12px;}
.termsWrap th {background:#f3f3f3;font-weight:normal;text-align:center;}
.termsWrap td {padding:5px 20px;}
.termsWrap .btnType3 {margin:0 0 0 5px;padding:0 5px;}

.joinField .btnWrap {margin:18px 0 0;}
.joinField .btnWrap .btnType1 {width:425px;color:#fff;font-size:22px;}
.joinField .btnWrap div {margin:0 -5px;}
.joinField .btnWrap span {float:left;width:50%;}
.joinField .btnWrap span a {display:block;margin:10px 5px 0;}

.idpwFindWrap .tabContent > div {float:left;width:505px;padding-left:35px;}
.idpwFindWrap .tabContent > div + div {float:right;}
.idpwFindWrap .radio {margin:0 0 5px -30px;color:#323232;font-size:24px;line-height:1;}
.idpwFindWrap .tip {font-size:15px;color:#686868;}
.idpwFindWrap fieldset {position:relative;margin:20px 0 0;}
.idpwFindWrap fieldset .row {position:relative;display:block;padding:0 0 0 75px;}
.idpwFindWrap fieldset .row + .row {margin:10px 0 0;}
.idpwFindWrap fieldset .row b {position:absolute;top:0;left:0;line-height:50px;font-weight:normal;color:#4f4f4f;}
.idpwFindWrap fieldset .row input.txt {width:380px;padding:17px 25px;}
.idpwFindWrap fieldset .row .alert {display:block;margin:10px 0 0;font-size:12px;color:#acacac;}
.idpwFindWrap fieldset .row .email,
.idpwFindWrap fieldset .row .phone {position:relative;display:block;padding:0 108px 0 0;}
.idpwFindWrap fieldset .row .email .btnType2,
.idpwFindWrap fieldset .row .phone .btnType2 {position:absolute;top:0;right:0;}
.idpwFindWrap fieldset .row .phone select {width:90px;height:50px;border:1px solid #dbdbdb;}
.idpwFindWrap fieldset .row .phone input.txt {width:50px;}
.idpwFindWrap fieldset .row .email input.txt {width:272px;}
.idpwFindWrap fieldset .row .btnType2 {width:98px;line-height:48px;font-size:14px;}
.idpwFindWrap fieldset.disable:after {content:"";position:absolute;top:0;left:0;right:0;bottom:0;}
.idpwFindWrap fieldset.disable .row b {color:#ccc;}
.idpwFindWrap .btnWrap .btnType1 {width:298px;font-size:22px;color:#fefefe;}


@media all and (max-width:1200px) {
	.afterSlide li .info span {margin:0 10px;}

	.idpwFindWrap .tabContent > div {width:50%;padding-left:3.5rem;box-sizing:border-box;}

	.idpwFindWrap .radio {margin:0 0 .5rem -3rem;font-size:2.4rem;}
	.idpwFindWrap .tip {font-size:1.5rem;}

	.idpwFindWrap fieldset {margin:2rem 0 0;}
	.idpwFindWrap fieldset .row {padding:0 0 0 7.5rem;}
	.idpwFindWrap fieldset .row + .row {margin:1rem 0 0;}
	.idpwFindWrap fieldset .row b {line-height:5rem;}
	.idpwFindWrap fieldset .row input.txt {width:100%;padding:1.7rem 2.5rem;box-sizing:border-box;}
	.idpwFindWrap fieldset .row .alert {margin:1rem 0 0;font-size:1.2rem;}
	.idpwFindWrap fieldset .row .email,
	.idpwFindWrap fieldset .row .phone {position:relative;display:block;padding:0 10.8rem 0 0;}
	.idpwFindWrap fieldset .row .phone {display:table;width:100%;box-sizing:border-box;}
	.idpwFindWrap fieldset .row .phone > span {display:table-cell;width:30%;}
	.idpwFindWrap fieldset .row .phone > span.sym {width:5%;text-align:center;}
	.idpwFindWrap fieldset .row .phone select {width:100%;height:5rem;border-width:.1rem;}
	.idpwFindWrap fieldset .row .phone input.txt,
	.idpwFindWrap fieldset .row .email input.txt {width:100%;}
	.idpwFindWrap fieldset .row .btnType2 {width:9.8rem;line-height:4.8rem;font-size:1.4rem;}
	.idpwFindWrap .btnWrap {margin:5rem 0 0;}
	.idpwFindWrap .btnWrap .btnType1 {width:29.8rem;font-size:2.2rem;}

}
@media all and (max-width:1023px) {
	.afterSlide {margin:0 -1.5rem;}
	.afterSlide li div {margin:0 1.5rem;padding:0 0 2rem;}
	.afterSlide li .tit {font-size:2rem;line-height:4.6rem;}
	.afterSlide li .picture {margin:1.5rem 0 0;}
	.afterSlide li .picture span + span {margin:0 0 0 3rem;}
	.afterSlide li .picture:after {width:1.9rem;height:3.3rem;margin:0;background-position:-23.5rem 0;background-size:50rem;transform:translate(-50%, -50%);}
	.afterSlide li .info {margin:1rem 0 0;font-size:1.3rem;}
	.afterSlide li .info span {margin:0 1rem;}
	.afterSlide li .info b {margin:0 0 0 1rem;}
	.afterSlide li .info b:before {top:.2rem;left:-.7rem;height:1.2rem;border-width:.1rem;}

	.afterSlide .bx-pager {position:absolute;top:-3rem;right:1.5rem;}
	.afterSlide .bx-pager button {width:1.5rem;height:1.5rem;margin:0 0 0 .5rem;}

	.loginWrap {width:100%;border-width:.8rem;box-sizing:border-box;}
	.loginWrap > section {width:48%;margin:0;padding:4.5rem 1rem;box-sizing:border-box;}
	.loginWrap .subTitle {margin:0 0 1.5rem;font-size:1.8rem;}
	.loginSection input.txt {width:100%;margin:0 0 1rem;padding:1.8rem 2.5rem;}
	.loginSection .chk {margin:.8rem 0 0;font-size:1.2rem;}
	.loginSection .memNav {margin:3.5rem 0 0;padding:1.2rem 0 0;border-width:.1rem;font-size:1.2rem;}
	.loginSection .memNav span + span {margin:0 0 0 2rem;}
	.loginSection .memNav span + span:before {top:.4rem;left:-1.2rem;width:.1rem;height:1.1rem;}

	.loginSnsSection [class*="btnType"] {width:100%;margin:0 0 1rem;}

	.joinField {width:50rem;padding:2.5rem 0;border-width:.8rem;box-sizing:border-box;}
	.joinField > div {display:block;width:100%;margin:0;padding:1rem 1.5rem;box-sizing:border-box;}
	.joinField .infoInput p {box-sizing:border-box;}
	.joinField .infoInput p + p {margin:1rem 0 0;}
	.joinField .infoInput .refer {margin:.5rem 0 3.5rem;padding:0 0 0 1.5rem;font-size:1.2rem;}
	.joinField input.txt {width:100%;padding:1.3rem 1.5rem;}
	.joinField .email {display:table;position:relative;width:100%;padding-right:6.5rem;}
	.joinField .email * {float:none;}
	.joinField .email span {display:table-cell;width:50%;}
	.joinField .email .sym {width:auto;padding:0 .5rem;line-height:4rem;}
	.joinField .email input.txt {width:100%;}
	.joinField .email .btnType2 {top:.5rem;}
	.joinField .idInput {position:relative;padding-right:6.5rem;}
	.joinField .idInput input.txt {float:none;width:100%;}
	.joinField .btnType2 {position:absolute;top:0;right:0;width:6rem;line-height:2.8rem;margin:0;}

	.termsWrap p + p {margin:.5rem 0 0;}
	.termsWrap table {margin:.5rem 0 0;border-width:.1rem;}
	.termsWrap th, .termsWrap td {border-width:.1rem;font-size:1.2rem;}
	.termsWrap td {padding:.5rem 2rem;}
	.termsWrap .btnType3 {margin:0 0 0 .5rem;padding:0 .5rem;}

	.joinField .btnWrap {margin:1.8rem 0 0;}
	.joinField .btnWrap .btnType1 {width:100%;margin:0;font-size:2.2rem;}
	.joinField .btnWrap div {display:flex;overflow:hidden;margin:1rem 0 0;}
	.joinField .btnWrap span {width:50%;margin:0;}
	.joinField .btnWrap span + span {margin:0 0 0 .4rem;}
	.joinField .btnWrap span a {width:100%;margin:0;}

	.idpwFindWrap .tabContent > div {width:49%;padding-left:0;}

	.idpwFindWrap .radio {margin:0 0 .5rem;}
	.idpwFindWrap .tip {margin:0 0 0 3rem;font-size:1.2rem;}
	.idpwFindWrap fieldset .row .email,
	.idpwFindWrap fieldset .row .phone {position:relative;display:block;padding:0 8rem 0 0;}
	.idpwFindWrap fieldset .row .btnType2 {width:7rem;line-height:4.8rem;font-size:1.4rem;}
}
@media all and (max-width:767px) {
	.afterSlide {margin:0;}
	.afterSlide li div {margin:0;}
	.afterSlide li div {padding:0 0 1rem;}
	.afterSlide li .tit {font-size:1.6rem;line-height:4rem;}
	.afterSlide li .picture {margin:1rem 0 0;}
	.afterSlide li .picture span + span {margin:0 0 0 3rem;}
	.afterSlide li .info {margin:.5rem 0 0;font-size:1.3rem;}
	.afterSlide li .info span {margin:0 .5rem;}
	.afterSlide li .info b {margin:0 0 0 1rem;}

	.afterSlide .bx-pager {position:static;margin:1rem 0 0;text-align:center;}
	.afterSlide .bx-pager button {width:1rem;height:1rem;margin:0 0 0 .5rem;}

	.idpwFindWrap .tabContent > div {float:none;width:100%;padding:1rem 0;}

	.idpwFindWrap fieldset .row {padding:0 0 0 5rem;}
	.idpwFindWrap fieldset .row + .row {margin:1rem 0 0;}
	.idpwFindWrap fieldset .row b {font-size:1.2rem;line-height:3rem;}
	.idpwFindWrap fieldset .row input.txt {width:100%;padding:0.7rem 1rem;box-sizing:border-box;}
	.idpwFindWrap fieldset .row .alert {margin:1rem 0 0;font-size:1.2rem;}
	.idpwFindWrap fieldset .row .phone {display:table;width:100%;box-sizing:border-box;}
	.idpwFindWrap fieldset .row .phone > span {display:table-cell;width:30%;}
	.idpwFindWrap fieldset .row .phone > span.sym {width:5%;text-align:center;}
	.idpwFindWrap fieldset .row .phone select {height:3rem;}
	.idpwFindWrap fieldset .row .btnType2 {line-height:2.6rem;font-size:1.2rem;}
	.idpwFindWrap .btnWrap .btnType1 {width:29.8rem;font-size:2.2rem;}

	.joinField .email .btnType2 {top:.6rem;}
	.joinField .btnType2 {line-height:2.6rem;}
}

@media all and (max-width:560px) {
	.loginWrap {border-width:.4rem;}
	.loginWrap > section {width:100%;margin:0;padding:2rem 1rem;}
	.loginWrap .subTitle {margin:0 0 1.5rem;font-size:1.8rem;}
	.loginSection input.txt {width:100%;margin:0 0 1rem;padding:1.8rem 2.5rem;}
	.loginSection .chk {margin:.8rem 0 0;font-size:1.2rem;}
	.loginSection .memNav {margin:3.5rem 0 0;padding:1.2rem 0 0;border-width:.1rem;font-size:1.2rem;}
	.loginSection .memNav span + span {margin:0 0 0 2rem;}
	.loginSection .memNav span + span:before {top:.4rem;left:-1.2rem;width:.1rem;height:1.1rem;}

	.loginSnsSection [class*="btnType"] {width:100%;margin:0 0 1rem;}

	.joinField {width:100%;border-width:.4rem;}
	.joinField > div {padding:1rem;}
	.joinField .btnWrap {display:block;}
	.joinField .btnWrap > div a {padding-left:1.7rem;}
}