@charset "utf-8";
@font-face {
 font-family: 'NanumSquare';
 src: url(../font/NanumSquare.eot);
 src: url(../font/NanumSquare.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquare.woff) format('woff'),
      url(../font/NanumSquare.ttf) format('truetype');
}

* {margin:0;padding:0;}
body {min-width:1120px;color:#555;font:14px/1.5 NanumSquare, sans-serif;-webkit-text-size-adjust:none;word-break:keep-all;}
a {color:#555;text-decoration:none;}
ol, li {list-style:none;}
table {width:100%;border-collapse:collapse;border:0;word-break:normal;}
colgroup {background:none;}
input, select, textarea, button {vertical-align:middle;font:14px/1.5 NanumSquare, Sans-serif;}
fieldset, img {border:0;}
img {vertical-align:top;}
label, td img {vertical-align:middle;}
legend, caption {visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px;}
address, em {font-style:normal;}
button {overflow:visible;cursor:pointer;background:none;border:0;}
button::-moz-focus-inner {padding:0;}

.skipNavi li {font-size:0;line-height:0;}
.skipNavi li a {position:fixed;top:-100px;left:0;width:100%;padding:10px 0;background:#044894;color:#fff;font-size:14px;line-height:2;text-align:center;z-index:500;}
.skipNavi li a:focus {top:0;} 